$veerblue: #537F99;
$darkteal: #95BDC6;
$lightteal: #B3D1D8;

body {
	font-family: Helvetica;
	color: #FFF;
	background-color: $veerblue;
}

//Styles for Main component
.main-div {
	h4 {
		text-align: center;
		}
}

.title {
	color: #FFF;
	padding: 1em 0.5em;
	width: 6em;
	text-align: center;
  margin: 1em auto 0 auto;
}
